body{

    background-image: url(/media/BACK.png);

    background-repeat: no-repeat;

    background-position: center center;
    
    background-attachment: fixed;

    background-size: cover;

    margin: auto;

    background-attachment: scroll;
}
.title{

    font-family: comfortaa;

    font-size: 100px;

    text-align: center;

    color: #ffffff;

    font-weight: 900;

}

.text{

    font-family: comfortaa;

    font-size: 25px;

    text-align: center;

    color: #ffffff;
}

.textForBox{

    font-family: comfortaa;

    font-size: 25px;

    text-align: center;

    color: #ffffff;

    padding-top: 10px;
    
}

.spec{

    font-family: comfortaa;

    font-size: 50px;

    text-align: center;

    color: #ffffff;

}


.block{

    height: 260px;
    
    width: 512px;
    
    border: 10px white solid;

    color: white;

    border-radius: 74px;

    margin: auto;

    margin-bottom: 40px;

}

.imagee{
    display: flex;

    margin: auto;

    margin-bottom:20px ;
}

.zoom-effect {
    transition: transform 0.2s;
}
  
.zoom-effect:hover {
    transform: scale(1.2);
}